%h1 Listing events

%table
  %thead
    %tr
      %th Title
      %th Category
      %th Start date
      %th End date
      %th Teaser
      %th Description
      %th Cover img
      %th Street no
      %th Street name
      %th Floor
      %th Town
      %th Region
      %th Postcode
      %th Country
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.category_id
        %td= event.start_date
        %td= event.end_date
        %td= event.teaser
        %td= event.description
        %td= event.cover_img
        %td= event.street_no
        %td= event.street_name
        %td= event.floor
        %td= event.town
        %td= event.region
        %td= event.postcode
        %td= event.country
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
